*{
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

body{
  background-color: hsl(30, 54%, 90%);
}

.contenedor{
  border-radius: 20px;
  padding: 40px;
  width: 700px;
  margin: 100px auto;
  background-color: hsl(0, 0%, 100%);
}

hr{
  border: none;
  height: 1px;
  background-color: hsl(30, 18%, 87%)
}

.lista{
  padding-left: 20px;
}

.preparacion{
  background-color: hsl(330, 100%, 98%);
  margin-top: 40px;
}

.parrafo{
  font-size: 16px;
}
img{
  border-radius: 20px;
  width: 100%;
}

.negrita{
  font-weight: 700;
}

.titulo{
  font-family:"Young Serif", serif;
  font-weight: 400;
}

h1{
  color: hsl(24, 5%, 18%);
}

h2{
  padding-left: 20px;
  color: hsl(332, 51%, 32%);
  font-size: 20px;
}

h3{
  font-size: 24px;
  color: hsl(14, 45%, 36%)
}

li{
  list-style-position: outside;
  padding-left: 15px;
  padding-bottom: 10px;
}

.instrucciones{
  line-height: 25px;
}

.arribadetabla{
  margin-bottom: 25px;
}

.tabla{
  padding-left: 32px;
}

.tablavalores{
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  position: absolute;
  padding-left: 32px;
  left: 50%;
}

